@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Lora:400,700';
body, h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  color: #304255; }

p, ul, li, ol, dd, dt {
  font-family: Lora;
  color: #304255; }

p {
  font-size: 18px;
  color: #304255; }

.header {
  width: 100%; }
  .header .logo,
  .header .navbar,
  .header .navigation {
    width: 100%;
    text-align: center;
    padding: 0 1rem; }
  .header .wrapper {
    background: rgba(255, 255, 255, 0.9) url(../images/header-top-bg.png) top center no-repeat;
    background-size: contain;
    border: 1px solid transparent;
    margin-top: -1px; }
  .header .navigation {
    display: flex !important;
    justify-content: space-between;
    border-bottom: 5px solid transparent;
    transition: all 0.8s;
    margin-bottom: 0;
    padding-bottom: calc(1rem - 3px); }
    .header .navigation li {
      list-style: none;
      position: relative; }
      .header .navigation li.has-children ul {
        opacity: 0;
        margin-top: -700px; }
      .header .navigation li.has-children:hover ul {
        opacity: 1;
        margin-top: 0; }
      .header .navigation li ul {
        position: absolute;
        z-index: 20;
        padding: 1em 0 0 0; }
        .header .navigation li ul ul {
          display: none; }
        .header .navigation li ul a {
          display: block;
          min-width: 230px;
          background: rgba(239, 241, 243, 0.95);
          border-top: none;
          border-bottom: none !important;
          padding: 0.6em 0.6em;
          font-size: 14px;
          text-align: left; }
        .header .navigation li ul a:hover {
          background: white;
          color: #80909d; }
    .header .navigation a {
      color: #304255;
      font-family: Lato;
      text-transform: uppercase;
      font-size: 16px;
      padding-bottom: 1.1rem;
      transition: all 0.4s ease-in;
      cursor: pointer; }
    .header .navigation a:hover,
    .header .navigation li.active a {
      border-bottom: 6px solid #304255;
      color: #9DA9B3; }
    .header .navigation li:nth-child(2) a {
      border-color: #4ECBFA; }
    .header .navigation li:nth-child(3) a {
      border-color: #F59D00; }
    .header .navigation li:nth-child(4) a {
      border-color: #FF3A1F; }
    .header .navigation li:nth-child(5) a {
      border-color: #37BA72; }
    .header .navigation li:nth-child(6) a {
      border-color: #227FBB; }
  .header .menu-btn {
    display: none; }
  .header .logo {
    margin-top: 55px;
    margin-bottom: 40px; }
    .header .logo a {
      display: inline-block;
      width: 140px;
      height: 53px;
      background: url(../images/logo-main.png) center no-repeat;
      background-size: cover;
      text-indent: -9999px;
      transition: all 0.4 ease-in; }
      .header .logo a:hover {
        opacity: 0.85; }

.footer .wrapper {
  background: #304255 url(../images/header-top-bg.png) bottom center no-repeat;
  background-size: contain; }
  .footer .wrapper .block {
    border-right: 1px solid rgba(157, 169, 179, 0.3);
    padding: 35px 25px 50px 25px; }
    .footer .wrapper .block:last-child {
      border: 0; }
    .footer .wrapper .block ul {
      margin: 0;
      padding: 0; }
    .footer .wrapper .block h6 {
      color: #9DA9B3;
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 700; }
  .footer .wrapper .footer-logo {
    text-align: center; }
    .footer .wrapper .footer-logo img {
      opacity: 0.5; }
  .footer .wrapper .footer-nav {
    text-align: left; }
    .footer .wrapper .footer-nav a {
      color: #9DA9B3;
      font-family: Lato, Arial; }
      .footer .wrapper .footer-nav a:hover {
        color: white !important; }
  .footer .wrapper .footer-social {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer .wrapper .footer-social * {
      color: #9DA9B3;
      font-family: Lato, Arial; }
    .footer .wrapper .footer-social .footer-phone {
      font-size: 24px; }
      .footer .wrapper .footer-social .footer-phone a {
        color: #bac2c9; }
    .footer .wrapper .footer-social .footer-address p {
      font-size: 10px; }
    .footer .wrapper .footer-social .footer-social-nav a {
      width: 30px;
      height: 30px;
      overflow: hidden;
      display: inline-block;
      margin-right: 10px;
      text-indent: -9999px;
      opacity: 0.5;
      transition: all 0.4s ease-in; }
      .footer .wrapper .footer-social .footer-social-nav a:hover {
        opacity: 1; }
      .footer .wrapper .footer-social .footer-social-nav a:last-child {
        margin: 0; }
      .footer .wrapper .footer-social .footer-social-nav a.icon-twitter {
        background: url(../images/icon-twitter.svg); }
      .footer .wrapper .footer-social .footer-social-nav a.icon-facebook {
        background: url(../images/icon-facebook.svg); }
      .footer .wrapper .footer-social .footer-social-nav a.icon-pinterest {
        background: url(../images/icon-pinterest.svg); }
      .footer .wrapper .footer-social .footer-social-nav a.icon-youtube {
        background: url(../images/icon-youtube.svg); }

.body-content-list {
  background: url(../images/list-bg.png) top center repeat-x; }
  .body-content-list .p-name {
    font-weight: 300;
    padding: 0;
    line-height: 1em;
    margin: 80px 0 0.5rem 0; }
  .body-content-list .e-content p {
    font-size: 16px;
    font-family: Lato;
    color: #80909d;
    margin-top: 0;
    padding-top: 0; }
  .body-content-list .listing-featured #featured {
    max-width: 50%; }
  .body-content-list .listing-featured .card .title {
    min-height: 2.4em; }
  .body-content-list .listing {
    margin: 0 auto 20px auto; }

.body-content {
  background-repeat: no-repeat;
  padding-top: 190px;
  background-size: 100%;
  position: relative; }
  .body-content .body-content-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(48, 66, 85, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
    background: rgba(255, 255, 255, 0.01);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden; }
    .body-content .body-content-picture img {
      width: 100%; }
    .body-content .body-content-picture::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(48, 66, 85, 0.5);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
      background: rgba(255, 255, 255, 0.01);
      /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, #2e3f52 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: absolute;
      top: 0;
      left: 0; }
  .body-content .wrapper {
    position: relative; }

.blog-content-header {
  text-align: center; }
  .blog-content-header h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 1.5em;
    text-shadow: 0 2px 0 #304255;
    letter-spacing: 0.02rem; }

.blog-content-item {
  background: white;
  padding: 60px 180px; }
  @media only screen and (max-width: 780px) {
    .blog-content-item {
      padding: 40px 60px; } }
  .blog-content-item h2 {
    font-size: 38px;
    color: #0F1B26;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.01rem; }
  .blog-content-item .list-blog-date {
    border-top: 1px solid #EFF1F3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: left; }
    .blog-content-item .list-blog-date span {
      font-size: 14px;
      font-weight: 700;
      color: #9DA9B3; }
  .blog-content-item p {
    margin-top: 0; }

.wrapper {
  max-width: 1060px;
  margin: 0 auto; }

.page-contacto .blog-content-item,
.page-contacto .list-item {
  padding-bottom: 0;
  margin-bottom: 0; }

.page-gracias .contact-form {
  background: transparent; }

.page-gracias .alert-message {
  margin-top: 100px; }

.contact-form {
  background: rgba(239, 241, 243, 0.5); }
  .contact-form .form-content-item {
    padding: 60px 180px;
    flex-direction: column; }
  .contact-form #formulario-de-contacto {
    width: 100%; }
  .contact-form label {
    color: #304255; }
    .contact-form label .required {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #4ECBFA; }
  .contact-form input[type="text"],
  .contact-form textarea {
    border-color: #d2d8dd;
    border-radius: 2px;
    padding: 1em; }
  .contact-form input[type="submit"],
  .contact-form button {
    background: #4ECBFA;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 0.5em 1.5em;
    border-radius: 200px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out; }
    .contact-form input[type="submit"]:hover,
    .contact-form button:hover {
      background: #227FBB; }

.alert-message {
  background: #4ECBFA;
  padding: 1em;
  border-radius: 2px; }
  .alert-message > * {
    color: white;
    font-family: "Lato"; }
  .alert-message p {
    margin: 0 0 1em 0; }
    .alert-message p:last-child {
      margin-bottom: 0; }
  .alert-message.alert-message--succes {
    background: #37BA72; }

.alert-message-soft {
  background: rgba(78, 203, 250, 0.2);
  border-left: 5px solid #4ECBFA;
  border-radius: 2px;
  padding: 1em; }
  .alert-message-soft > * {
    color: #304255; }
  .alert-message-soft > *:last-child {
    margin-bottom: 0; }

.comments .alert-message {
  margin-bottom: 2em; }

.card {
  border: 1px solid #d8dde2;
  background: white;
  overflow: hidden;
  padding: 30px 20px;
  margin-bottom: 20px;
  margin-right: -1px;
  position: relative;
  transition: all 0.4s ease-in-out;
  max-width: 700px; }
  .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #4ECBFA; }
  .card.noticias::after {
    background: #4ECBFA; }
  .card.prensa::after {
    background: #F59D00; }
  .card.lamuela-tv::after {
    background: #FF3A1F; }
  .card.el-municipio::after {
    background: #37BA72; }
  .card.el-ayuntamiento::after {
    background: #227FBB; }
  .card:hover {
    box-shadow: 0 0 15px #98e1fc;
    border: 1px solid #4ECBFA; }
  .card .picture {
    display: none; }
  .card .title,
  .card .summary,
  .card .footer {
    position: relative; }
  .card .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: relative;
    min-height: 2.5em; }
  .card .summary {
    margin: 0.5em 0 0.5em 0;
    min-height: 4.1em; }
    .card .summary em {
      font-style: normal; }
    .card .summary p {
      font-size: 16px;
      line-height: 1.4rem;
      color: #80909d;
      margin-top: 0; }
  .card .footer {
    margin-top: 3rem; }
    .card .footer .date {
      color: #80909d; }
  .card.pictured {
    padding-top: 170px; }
    .card.pictured .picture {
      display: block;
      position: absolute;
      top: 0;
      left: -5px;
      height: 150px;
      width: calc(100% + 10px);
      width: 800px;
      z-index: 0;
      overflow: hidden; }
      .card.pictured .picture::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(48, 66, 85, 0.5);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
        background: rgba(255, 255, 255, 0.01);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(39, 53, 69, 0.6) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(39, 53, 69, 0.6) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, rgba(39, 53, 69, 0.6) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        position: absolute;
        top: 0;
        left: 0; }
  .card:hover {
    opacity: 0.9; }
    .card:hover .picture::before {
      opacity: 0.5; }
  .card.highlighted {
    border: none;
    max-width: 351px;
    padding-top: 60px;
    min-height: 332px;
    background: #1cbcf9; }
    .card.highlighted h3,
    .card.highlighted h4 {
      position: relative;
      color: white;
      font-size: 22px; }
    .card.highlighted h3 {
      min-height: 3.6em; }
    .card.highlighted h4 {
      opacity: 0.8;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      background: #1cbcf9;
      display: inline-block;
      padding: 2px 6px;
      text-shadow: 0 0 0 2px #304255; }
    .card.highlighted footer {
      color: rgba(255, 255, 255, 0.6); }
      .card.highlighted footer small {
        color: #EFF1F3 !important;
        font-weight: 600; }
    .card.highlighted .picture {
      margin-left: 5px;
      height: 365.2px; }
      .card.highlighted .picture::before {
        background: rgba(48, 66, 85, 0.5);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
        background: rgba(28, 188, 249, 0.8);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(28, 188, 249, 0.8) 0%, rgba(2, 52, 71, 0.95) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(28, 188, 249, 0.8) 0%, rgba(2, 52, 71, 0.95) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(28, 188, 249, 0.8) 0%, rgba(2, 52, 71, 0.95) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .card.highlighted.prensa h4 {
      color: #ffbb43;
      color: white;
      background: #F59D00; }
    .card.highlighted.prensa::after {
      background-color: #F59D00; }
    .card.highlighted.prensa .picture::before {
      background: rgba(48, 66, 85, 0.5);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
      background: rgba(245, 157, 0, 0.8);
      /* Old browsers */
      background: -moz-linear-gradient(top, rgba(245, 157, 0, 0.8) 0%, rgba(92, 59, 0, 0.95) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(245, 157, 0, 0.8) 0%, rgba(92, 59, 0, 0.95) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(245, 157, 0, 0.8) 0%, rgba(92, 59, 0, 0.95) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .card.highlighted.video-gallery h4 {
      background: #FF3A1F; }
    .card.highlighted.video-gallery::after {
      background-color: #FF3A1F; }
    .card.highlighted.video-gallery .picture::before {
      background: rgba(48, 66, 85, 0.5);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
      background: rgba(255, 58, 31, 0.8);
      /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255, 58, 31, 0.8) 0%, rgba(82, 10, 0, 0.95) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 58, 31, 0.8) 0%, rgba(82, 10, 0, 0.95) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 58, 31, 0.8) 0%, rgba(82, 10, 0, 0.95) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .card.highlighted.video-gallery iframe {
      width: 50%;
      height: 300px; }
  .card.card-simple h3 {
    text-align: center;
    border-bottom: 2px solid #EFF1F3; }
  .card.card-simple .data p {
    margin: 0 0 -4px 0; }
  .card.card-simple .data .data-left,
  .card.card-simple .data .data-right {
    display: inline-block;
    padding: 0.8em 0.4em;
    vertical-align: top;
    font-size: 14px; }
  .card.card-simple .data .data-left {
    background: #EFF1F3;
    width: 25%;
    font-weight: 600;
    text-align: right; }
  .card.card-simple .data .data-right {
    width: 70%; }

.page {
  min-height: 60vh; }

.home h1 {
  margin: 0; }

.home .claim h2 {
  color: #9DA9B3;
  font-size: 28px;
  margin-top: 0;
  letter-spacing: 0.01rem; }

.home .blog-content-item {
  padding: 20px; }

.list-videos .card-video::after {
  background: #FF3A1F; }

.list-videos .video-featured {
  padding: 0 60px;
  margin-bottom: 20px; }
  .list-videos .video-featured .footer {
    padding: 20px; }
  .list-videos .video-featured .card-video,
  .list-videos .video-featured .video,
  .list-videos .video-featured iframe {
    min-width: 100%;
    min-height: 35vw;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0; }

.video-list .video {
  position: absolute;
  top: 0;
  left: 0; }
  .video-list .video iframe {
    height: 180px;
    width: 118%; }

.video-list .footer {
  margin-top: 2em; }
  .video-list .footer h3 {
    font-size: 20px; }

.video-list .video-item:nth-child(1) {
  display: none; }

.ordenanzas table,
.ordenanzas tbody,
.ordenanzas td,
.solicitudes table,
.solicitudes tbody,
.solicitudes td {
  border-left: none;
  border-right: none; }

.ordenanzas td,
.ordenanzas p,
.ordenanzas a,
.solicitudes td,
.solicitudes p,
.solicitudes a {
  margin: 0;
  font-family: "Lato";
  font-size: 16px;
  vertical-align: top; }

.ordenanzas td,
.solicitudes td {
  padding: 0.4em 0.6em; }

.ordenanzas a,
.solicitudes a {
  font-size: 14px; }

.ordenanzas tr > td:first-child,
.solicitudes tr > td:first-child {
  width: 22%; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

#body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

.convocatoria-junta .e-content {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column-reverse; }
  .convocatoria-junta .e-content p {
    margin: 0 0 1em; }

.equipo-de-gobierno .blog-content-header {
  opacity: 0; }

.content-footer .icon {
  font-size: 32px; }

.bandos .date {
  color: #9DA9B3;
  display: inline-block;
  min-width: 4.4em; }

.reverse-order {
  display: flex;
  flex-direction: row-reverse; }
  .reverse-order > * {
    margin: 0 0 1em 0; }
  .reverse-order.list-vertical {
    flex-direction: column-reverse; }

.list-item {
  border-bottom: none; }

.child-list {
  margin-top: -60px; }
  .child-list .card-new {
    width: 50%;
    float: left;
    padding-top: 120px; }
    .child-list .card-new img {
      max-width: 50%; }
    @media only screen and (max-width: 1060px) {
      .child-list .card-new {
        width: 100%; }
        .child-list .card-new img {
          max-width: 100%; } }
  .child-list .picture {
    height: 100px !important; }

.jobs .featured {
  padding: 20px; }

.grid-1 {
  padding: 20px;
  padding-top: 0; }
  .grid-1 .card-simple {
    margin: 0 auto 20px auto; }

.grid-2 .item {
  min-width: 49%;
  float: left; }

.prev-next {
  padding-top: 2rem; }
