{% block header %}
<header class="header">
    <div class="wrapper">
        <div class="logo">
            <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
        </div>
        <div class="navbar">
            {% block header_extra %}{% endblock %}
            {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
            {% endif %}
            {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
            {% endblock %}
            <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
        </div>
    </div>
</header>
{% endblock %}