<div class="content-wrapper blog-content-list grid pure-g">
    <div id="listing" class="block- pure-u-3-3- h-feed">
        {% for page in page.find('/noticias').children.order('date', 'desc').slice(0, 2) %}
            {% include 'partials/card.html.twig' %}
        {% endfor %}
    </div>

    <div id="listing" class="block- pure-u-3-3- h-feed">
        {% set collection = page.collection().slice(0, 10) %}
        {% for page in collection %}
            {% include 'partials/card.html.twig' %}
            {% include 'partials/card.html.twig' %}
            {% include 'partials/card.html.twig' %}
        {% endfor %}
    </div>
</div>