<article class="card card-new card-new-wide pictured card-video">
    <header class="video">
        <iframe src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
    </header>
    <footer class="footer">
        <h3 class="title">{{ video.title }}</h3>
        <small class="date">{{ video.date }}</small>
    </footer>
</article>