<section class="contact-form">
    <div class="wrapper">
        <article class="form-content-item grid pure-g-r">
        <h4>Formulario de contacto</h4>
        {% include "forms/form.html.twig" %}
        </article>
    </div>
</section>