@import "partials/configuration"
@import "partials/colors"
@import "partials/mixins"
@import "partials/typography"

@import "partials/html"
@import "partials/header"
@import "partials/list"
@import "partials/article"
@import "partials/cards"
@import "partials/page"
@import "partials/home"
@import "partials/video-gallery"


#body
    padding-left: 0
    padding-right: 0
    padding-top: 0

.convocatoria-junta
    .e-content
        border: 1px solid transparent
        display: flex
        flex-direction: column-reverse

        p
            margin: 0 0 1em

.equipo-de-gobierno
    .blog-content-header
        opacity: 0

.content-footer
    .icon
        font-size: 32px

.bandos
    .date
        color: $grey
        display: inline-block
        min-width: 4.4em
