{% embed 'partials/base.html.twig' %}

	{% block content %}
	<div class="body-content">
		<div class="body-content-picture">
			{% set images = page.media.images %}

			{% if images %}
				{% for image in images %}
					{{ image.cropZoom(1440, 740).html }}
				{% endfor %}
			{% else %}
				<img src="{{ url('theme://images/image-item-dummy.jpg') }}" alt="{{ page.title }}" />
			{% endif %}
		</div>

		<div class="wrapper">
			<header class="blog-content-header">
				<h1 class="p-name">{{ page.title }}</h1>
			</header>

			<section class="blog-content-item grid pure-g-r">
				<article id="item" class="block pure-u-2-3 h-entry">
					{% include 'partials/blog_item-fullwidth.html.twig' with {'blog':page.parent, 'truncate':false} %}
				</article>
			</section>
		</div>

		{% include 'partials/questions.html.twig' %}
	</div>
	{% endblock %}

{% endembed %}
