.card
    border: 1px solid darken($grey-light, 8%)
    background: white
    overflow: hidden
    padding: $gutter * 1.5 $gutter
    margin-bottom: $gutter
    margin-right: -1px
    position: relative
    transition: all 0.4s ease-in-out
    max-width: 700px

    &::after
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 5px
        background: $sky

    &.noticias::after
        background: $sky

    &.prensa::after
        background: $yellow

    &.lamuela-tv::after
        background: $red

    &.el-municipio::after
        background: $green

    &.el-ayuntamiento::after
        background: $blue

    &:hover
        box-shadow: 0 0 15px lighten($sky, 15%)
        border: 1px solid $sky

    .picture
        display: none

    .title,
    .summary,
    .footer
        position: relative

    .title
        font-size: 22px
        font-weight: 600
        line-height: 1.2em
        text-transform: none
        margin: 0
        padding: 0
        z-index: 10
        position: relative
        min-height: 2.5em

    .summary
        margin: 0.5em 0 0.5em 0
        min-height: 4.1em

        em
            font-style: normal

        p
            font-size: 16px
            line-height: 1.4rem
            color: darken($grey, 10%)
            margin-top: 0

    .footer
        .date
            color: darken($grey, 10%)

    &.pictured
        $height: 150px
        padding-top: $height + $gutter

        .picture
            display: block
            position: absolute
            top: 0
            left: -5px
            height: $height
            width: calc(100% + 10px)
            width: 800px
            z-index: 0
            overflow: hidden
            $color-top: transparentize(darken($night, 5%), 0.4)
            $color-bottom: transparentize(white, 0.99)

            &::before
                content: ""
                width: 100%
                height: 100%
                @include gradient($color-bottom, $color-top)
                position: absolute
                top: 0
                left: 0

    &:hover
        opacity: 0.9
        .picture::before
            opacity: 0.5

    &.highlighted
        $sky: darken($sky, 10%)
        $height: 120px
        border: none
        max-width: 351px
        padding-top: $gutter * 3
        min-height: $height * 2.55
        background: $sky

        &::after
            content: "VER MÁS"
            height: 50px
            color: white
            font-weight: 600
            text-align: center
            line-height: 50px
            cursor: pointer
            background: $sky

        h3,
        h4
            position: relative
            color: white
            font-size: 22px
        h3
            min-height: 3.6em

        h4
            opacity: 0.8
            font-size: 14px
            text-transform: uppercase
            font-weight: 600
            color: white
            background: $sky
            display: inline-block
            padding: 2px 6px
            text-shadow: 0 0 0 2px $night

        footer small
            color: $grey-light !important
            font-weight: 600

        .picture
            margin-left: 5px
            height: $height * 2.2
            &::before
                @include gradient(transparentize($sky, 0.2), transparentize(darken($sky, 40%), 0.05))

        &.prensa
            h4
                color: lighten($yellow, 15%)
                color: white
                background: $yellow

            &::after
                background-color: $yellow
            .picture::before
                @include gradient(transparentize($yellow, 0.2), transparentize(darken($yellow, 30%), 0.05))

        &.video-gallery
            h4
                background: $red
            &::after
                background-color: $red
            .picture::before
                @include gradient(transparentize($red, 0.2), transparentize(darken($red, 40%), 0.05))

            iframe
                width: 50%
                height: 300px